@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,400;0,500;1,100&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'PT Serif', serif;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

.header {
    font-family: 'Roboto Regular', sans-serif;
}
.header__top {
    background-color: #303030;
}

.header__btn {
    float: right;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b;
    background-color: #ffc222;
    font-size: 16px;
    padding: 5px 20px 4px 50px;
    position: relative;
}

.header__btn::before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #1b1b1b;
    position: absolute;
    left: 20px;
}

.header__contacts::after {
    content: '';
    clear: both;
    display: block;
}

.header__phone,
.header__email {
    color: #acabac;
    letter-spacing: 0.25px;
    line-height: 45px;
}

.header__phone {
    padding: 0 30px 0 20px;
    position: relative;
}

.header__phone::before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email {
    padding-left: 24px;
    position: relative;
}

.header__email::before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__content {
    padding: 34px 0px 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.menu li {
    display: inline-block;
}

.menu a {
    line-height: 36px;
    color: #323232;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all 0.3s;
}

.menu a:hover {
    border: 1px solid #ffc222;
}

.menu li + li {
    padding-left: 10px;
}

.slider {
    background-image: url(../img/slider-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.slider__item-content {
    padding-top: 110px;
    min-width: 665px;
    margin: 0 auto;
    text-align: center;
}

.slider__title {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Roboto', 'sans-serif';
    line-height: 36px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
}

.slider__text {
    color: #d3d2d2;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 50px;
}

.slider__btn {
    display: inline-block;
    color: #ffffff;
    line-height: 24px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ffc222;
    padding: 8px 20px 8px 20px;
    border-right-width: 20px;
    position: relative;
}

.default-btn {
    position: relative;
    display: inline-block;
    color: #ffffff;
    line-height: 24px;
    font-family: 'Roboto', 'sans-serif';
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #ffc222;
    padding: 8px 20px 8px 20px;
    border-right-width: 20px;
}

.default-btn::after {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
}

.slider__inner {
    position: relative;
}

.slick-btn {
    position: absolute;
    top: 70%;
    z-index: 3;
    background-color: #ffc222;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
}

.slick-btn.slick-disabled {
    background-color: transparent;
    cursor: default;
}

.slick-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.slick-next {
    right: 0;
}

.slick-next::before {
    content: "\f105";
    font-family: 'icomoon';
}

.slick-prev {
    left: 0;
}

.slick-prev::before {
    content: "\f104";
    font-family: 'icomoon';
}

.services {
    padding: 50px 0 30px;
}

.services__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.services__title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.services__title-box::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
    left: 0;
    top: 10px;
}

.services-title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: #212020;
    margin-bottom: 10px;
}

.services__text {
    letter-spacing: 0.1px;
}

.services__btn a {
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-family: 'Roboto', 'sans-serif';
    border: 3px solid #e6e6e6;
    padding: 5px 38px;
}

.services__items {
    display: flex;
    justify-content: space-between;
}

.services__item {
    max-width: 360px;
    text-align: center;
    padding: 30px 0 80px;
    position: relative;
    min-height: 375px;
    background-color: #f9f9f9;
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.services__item-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #212020;
    padding: 24px 0;
}

.services__item-text {
    letter-spacing: 0.1px;
    padding: 0 30px 30px;
}

.services__item-btn {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}

.services__item-btn .default-btn {
    color: #373636;
}

.services__item-btn .default-btn::after {
    color: #fff;
}

.services__item-link {
    font-family: 'Roboto', sans-serif;
    color: #050505;
    border-bottom: 1px solid #050505;
    line-height: 0.8;
    margin-right: 95px;
}